@import '../../variables.scss';

.formContainer {
	padding: 10px 50px;
	display: flex;
	flex-direction: column;
	padding: 10px 80px;
	form {
		width: 60%;
		.row {
			height: 50px;
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			flex-wrap: wrap;
			margin: 20px auto;
			label {
				font-size: 1.5rem;
				font-weight: 700;
				width: 30%;
				white-space: nowrap;
				min-width: 140px;
			}
			.inputField {
				flex-grow: 1;
				input,
				select {
					width: 100%;
					border: $border-gray;
					border-radius: 5px;
					height: 35px;
					padding: 0 10px;
					font-size: 1.1rem;
					&.novalidate {
						&:focus {
							border-color: $color-primary;
						}
					}
				}
				.error {
					position: absolute;
					color: red;
					font-size: 1.2rem;
				}
			}
		}
		.btn {
			width: 120px;
			height: 40px;
			float: right;
			margin-top: 50px;
			border: $border-gray;
			border-radius: 2px;
			font-weight: 700;
			&.active {
				background-color: $color-primary;
				cursor: pointer;
			}
			&[disabled] {
				background-color: rgba($color-gray, 0.4);
				color: $color-gray;
				cursor: not-allowed;
			}
		}
	}
}

@media (max-width: 750px) {
	.formContainer {
		form {
			width: 100% !important;
		}
	}
}
