@import '../../styles/variables';

.currencySymbol {
	margin-left: 5px;
}

.card {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	min-height: 250px;
	height: 250px;
	border-bottom: 1px solid rgba($color-black, 0.1);
	max-width: 1000px;
	width: 750px;
	margin: 0 auto;

	&.faded {
		opacity: 0.5;
	}

	.cardPicture {
		img {
			box-shadow: 0px 2px 3px 1px rgba($color-black, 0.3);
		}
	}

	.cardContent {
		max-width: 50%;
		flex: 1 1 auto;

		a {
			text-decoration: none;
		}

		h3 {
			font-size: 1.6rem;
			font-weight: 500;
			color: $color-black;
		}

		p {
			font-size: 1.2rem;
			line-height: 2rem;
			color: $color-gray;
			max-height: 100px;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	.cardControls {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 70px;
		align-items: flex-end;

		.cardControlsTop {
			svg {
				height: 20px;
				fill: rgba($color-black, 0.2);
				cursor: pointer;
			}
		}

		.cardControlsBottom {
			display: flex;
			align-items: center;

			.cardItemQuantity {
				width: 100px;
				display: flex;
				align-items: center;

				button {
					background-color: #fff;
					border: $border-gray;
					width: 30px;
					height: 30px;
					border-radius: 5px;
					font-size: 25px;
					line-height: 0px;
					color: $color-gray;
					font-weight: 100;
					cursor: pointer;

					&[disabled] {
						opacity: 0.4;
						cursor: not-allowed;
					}
				}

				input {
					width: 30px;
					border: none;
					margin: auto 5px;
					text-align: center;
					color: $color-gray;
				}
			}

			.cardPrice {
				font-size: 1.5rem;
				font-weight: 700;
				margin-left: 30px;
				width: 60px;
			}
		}
	}
}

@media (max-width: 950px) {
	.card {
		width: 600px !important;
	}
}

@media (max-width: 750px) {
	.card {
		width: auto !important;

		.cardContent {
			max-width: 70% !important;
		}

		.cardControls {
			width: 100%;
		}
	}
}

@media (max-width: 510px) {
	.card {
		//height: 300px !important;
		min-height: 390px !important;

		.cardContent {
			max-width: 100% !important;
		}

		.cardPicture {
			width: 100%;
			margin: 0 auto;
			text-align: center;
		}
	}
}